[Unit]
Description=Java Risk Demo

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=java -jar java-risk-demo.jar
Restart=always
StandardOutput=append:/home/ubuntu/java-risk-demo.log

[Install]
WantedBy=multi-user.target
